<h1>New pins</h1>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">About</th>
        <th scope="col">Hash</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of lis ;">
        <td><b>{{e["name"]}}</b></td>
        <td><b>{{e["about"]}}</b></td>
        <td><b><a target="_blank" href='https://ipfs.io/ipfs/{{e["hash"]}}'>{{e["hash"]}}</a></b></td>
        <td><b>{{e["date"]}}</b></td>
      </tr>
    </tbody>
    Page no:{{li.pageNumber}}
    <button  (click)="back(li.pageNumber)"> Back</button>
    <button  (click)="next(li.pageNumber)"> Next</button>
</table>
