<div id ="helper">
  To attach an image use base 64 string format.<br>
  <a target="_blank" href="https://www.base64-image.de/">How to convert image to base 64 string</a><br>
  <a target="_blank" href="https://stackoverflow.com/questions/8499633/how-to-display-base64-images-in-html">How to display Base64 images in HTML?</a><br><br>
</div>
<div id="pinner">
<form #userData = 'ngForm' (ngSubmit)="onSubmit(userData.value)">
  About:<input type="text" name="about" ngModel><br>
  Data(Paste Your Content Here - Supports Html)<br>
  <textarea name="data" rows="30" cols="100" ngModel ></textarea><br>
  <button type="submit" >Save</button>
</form>
</div>
<div id="">
  Result:<td><b>{{ lis | json}}</b></td>
</div>
